
td {
    width: 10%;
    height: 10%;
    border: solid black 2px;
    text-align: center;
    font-size: xx-large;
    
}

.vilagos {
    background-color: blue;
    
}
.sotet {
    background-color: red;
    
}
table {
    height: 800px;
    width: 800px;
    border-collapse: collapse;
}
