td {
    width: 10%;
    height: 10%;
    border: solid black 2px;
    font-size: xx-large;
}

.vilagos {
    background-color: red;
}
.sotet {
    background-color: blue; 
}
table {
    height: 800px;
    width: 800px;
    border-collapse: collapse;
    text-align: center;
}
img {
    width: 80%;
    height: 80%;
}